# Environment Setup

In [ ]:

# If needed (Colab/new env):

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, DoubleType

spark = (
    SparkSession.builder
    .appName("UsedBikes-SriLanka-Clean-Store")
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:10.3.0")
    .getOrCreate()
)

spark

# Load Raw CSV

In [2]:

raw_path = "used-bikes.csv"
df = spark.read.csv(raw_path, header=True, inferSchema=True)
df.printSchema()
df.show(5, truncate=False)

root
 |-- Summary: string (nullable = true)
 |-- url: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Post_Details: string (nullable = true)
 |-- Bike Type: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Trim/Edition: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Seller: string (nullable = true)
 |-- Capacity: string (nullable = true)
 |-- Price: string (nullable = true)

+------------------------------------------------------------------------------+---------------------------------------------------------------------------+----------------------------+------------------------------------------------+------------+-----------+--------------+------------+----+---------+-------------------+--------+----------+
|Summary                                                                       |url                                                                        |Title                       |Post_Details                                    |Bike Type   |Brand      |Trim/Edition  |Model       |Year|Mileage  |Seller             |Capacity|Price     |
+------------------------------------------------------------------------------+---------------------------------------------------------------------------+----------------------------+------------------------------------------------+------------+-----------+--------------+------------+----+---------+-------------------+--------+----------+
|Atv beach bike 201435,000 kmKegalle, MotorbikesRs 440,00043 days              |https://ikman.lk/en/ad/atv-beach-bike-2014-for-sale-kegalle                |Atv beach bike 2014         |Posted on 30 Jan 9:02 am, Kegalle City, Kegalle |Quadricycles|Other brand|Atv beach bike|Other model |2014|35,000 km|lakee              |150 cc  |Rs 440,000|
|Bajaj Pulsar 150 palsar 201450,737 kmAnuradhapura, MotorbikesRs 370,00035 days|https://ikman.lk/en/ad/bajaj-pulsar-150-palsar-2014-for-sale-anuradhapura-1|Bajaj Pulsar 150 palsar 2014|Posted on 11 Mar 1:58 pm, Kekirawa, Anuradhapura|Motorbikes  |Bajaj      |palsar 150    |Pulsar 150  |2014|50,737 km|Sasila Ishan       |150 cc  |Rs 370,000|
|Beach Buggy 20055,000 kmColombo, MotorbikesRs 210,00051 days                  |https://ikman.lk/en/ad/beach-buggy-2005-for-sale-colombo                   |Beach Buggy 2005            |Posted on 21 Jan 9:45 pm, Talawatugoda, Colombo |Quadricycles|Other brand|Beach Buggy   |Other model |2005|5,000 km |vinuka automart    |125 cc  |Rs 210,000|
|Electra Alpha Vino 2019600 kmColombo, MotorbikesRs 105,00043 days             |https://ikman.lk/en/ad/electra-alfa-vino-2019-for-sale-colombo             |Electra Alpha Vino 2019     |Posted on 22 Feb 2:26 pm, Moratuwa, Colombo     |E-bikes     |Electra    |Vino          |Alpha       |2019|600 km   |Jeewantha Basnayaka|49 cc   |Rs 105,000|
|Hero Maestro Edge 201818,500 kmMEMBERKalutara, MotorbikesRs 80,00024 days     |https://ikman.lk/en/ad/hero-maestro-edge-2018-for-sale-kalutara-44         |Hero Maestro Edge 2018      |Posted on 07 Mar 2:08 pm, Bandaragama, Kalutara |Scooters    |Hero       |2018          |Maestro Edge|2018|18,500 km|Anjalee Motors     |110 cc  |Rs 80,000 |
+------------------------------------------------------------------------------+---------------------------------------------------------------------------+----------------------------+------------------------------------------------+------------+-----------+--------------+------------+----+---------+-------------------+--------+----------+
only showing top 5 rows

# Cleaning & Feature Engineering

In [8]:
import pyspark.sql.functions as F

# Add City column
df_feat = df.withColumn(
    "City",
    F.when(
        F.col("Post_Details").isNotNull(),
        F.regexp_replace(F.col("Post_Details"), r"^Posted on.*?,\s*", "")
    )
).withColumn(
    "City",
    F.trim(F.split(F.col("City"), ",").getItem(0))
)

# Clean Price → Price_Clean
df_feat = df_feat.withColumn(
    "Price_Clean",
    F.regexp_replace("Price", r"[^\d]", "").cast("int")
)

# Trim Extreme Price Outliers

In [9]:

# Compute approx 1st and 99th percentiles
bounds = df_feat.approxQuantile("Price_Clean", [0.01, 0.99], 0.01)
low, high = bounds if len(bounds) == 2 else (None, None)

if low is not None and high is not None:
    df_fair = df_feat.where(
        (F.col("Price_Clean").isNotNull()) &
        (F.col("Year").isNotNull()) &
        (F.col("Price_Clean").between(low, high))
    )
else:
    df_fair = df_feat.where((F.col("Price_Clean").isNotNull()) & (F.col("Year").isNotNull()))

print("Rows after fair-trim:", df_fair.count())

Rows after fair-trim: 5016

# Save to MongoDB (Integration)

In [ ]:
#!pip install pymongo==4.2.0
#!pip install "pymongo[srv]" --upgrade

Collecting pymongo[srv]
  Downloading pymongo-4.15.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.15.0 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 6.6 MB/s eta 0:00:00
Downloading pymongo-4.15.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 38.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.0

In [12]:
# Check mongo client is working
from pymongo import MongoClient

mongo_uri = "mongodb+srv://hiran_db_user:qU4wT6aS7D10VLlF@cluster0.hliggrv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = MongoClient(mongo_uri)
print(client.list_database_names())

['BikeDb', 'admin', 'local']

In [13]:
mongo_uri = "mongodb+srv://hiran_db_user:qU4wT6aS7D10VLlF@cluster0.hliggrv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

db_name   = "BikeDb"
coll_name = "used_bikes_cleaned"

(df_fair
 .write
 .format("mongodb")
 .mode("overwrite")
 .option("spark.mongodb.connection.uri", mongo_uri)
 .option("spark.mongodb.database", db_name)
 .option("spark.mongodb.collection", coll_name)
 .save()
)

print(f" Saved to MongoDB Atlas → {db_name}.{coll_name}")

✅ Saved to MongoDB Atlas → BikeDb.used_bikes_cleaned

In [14]:
# Read-back verification (sanity check)
df_mongo = (
    spark.read
    .format("mongodb")
    .option("spark.mongodb.connection.uri", mongo_uri)
    .option("spark.mongodb.database", db_name)
    .option("spark.mongodb.collection", coll_name)
    .load()
)

df_mongo.show(5, truncate=False)

+------------+-----------+--------+------------+---------+------------+------------------------------------------------+----------+-----------+-------------------+------------------------------------------------------------------------------+----------------------------+--------------+----+------------------------+---------------------------------------------------------------------------+
|Bike Type   |Brand      |Capacity|City        |Mileage  |Model       |Post_Details                                    |Price     |Price_Clean|Seller             |Summary                                                                       |Title                       |Trim/Edition  |Year|_id                     |url                                                                        |
+------------+-----------+--------+------------+---------+------------+------------------------------------------------+----------+-----------+-------------------+------------------------------------------------------------------------------+----------------------------+--------------+----+------------------------+---------------------------------------------------------------------------+
|Quadricycles|Other brand|150 cc  |Kegalle City|35,000 km|Other model |Posted on 30 Jan 9:02 am, Kegalle City, Kegalle |Rs 440,000|440000     |lakee              |Atv beach bike 201435,000 kmKegalle, MotorbikesRs 440,00043 days              |Atv beach bike 2014         |Atv beach bike|2014|68c6a9fcdf14f83be12feef5|https://ikman.lk/en/ad/atv-beach-bike-2014-for-sale-kegalle                |
|Motorbikes  |Bajaj      |150 cc  |Kekirawa    |50,737 km|Pulsar 150  |Posted on 11 Mar 1:58 pm, Kekirawa, Anuradhapura|Rs 370,000|370000     |Sasila Ishan       |Bajaj Pulsar 150 palsar 201450,737 kmAnuradhapura, MotorbikesRs 370,00035 days|Bajaj Pulsar 150 palsar 2014|palsar 150    |2014|68c6a9fcdf14f83be12feef6|https://ikman.lk/en/ad/bajaj-pulsar-150-palsar-2014-for-sale-anuradhapura-1|
|Quadricycles|Other brand|125 cc  |Talawatugoda|5,000 km |Other model |Posted on 21 Jan 9:45 pm, Talawatugoda, Colombo |Rs 210,000|210000     |vinuka automart    |Beach Buggy 20055,000 kmColombo, MotorbikesRs 210,00051 days                  |Beach Buggy 2005            |Beach Buggy   |2005|68c6a9fcdf14f83be12feef7|https://ikman.lk/en/ad/beach-buggy-2005-for-sale-colombo                   |
|E-bikes     |Electra    |49 cc   |Moratuwa    |600 km   |Alpha       |Posted on 22 Feb 2:26 pm, Moratuwa, Colombo     |Rs 105,000|105000     |Jeewantha Basnayaka|Electra Alpha Vino 2019600 kmColombo, MotorbikesRs 105,00043 days             |Electra Alpha Vino 2019     |Vino          |2019|68c6a9fcdf14f83be12feef8|https://ikman.lk/en/ad/electra-alfa-vino-2019-for-sale-colombo             |
|Scooters    |Hero       |110 cc  |Bandaragama |18,500 km|Maestro Edge|Posted on 07 Mar 2:08 pm, Bandaragama, Kalutara |Rs 80,000 |80000      |Anjalee Motors     |Hero Maestro Edge 201818,500 kmMEMBERKalutara, MotorbikesRs 80,00024 days     |Hero Maestro Edge 2018      |2018          |2018|68c6a9fcdf14f83be12feef9|https://ikman.lk/en/ad/hero-maestro-edge-2018-for-sale-kalutara-44         |
+------------+-----------+--------+------------+---------+------------+------------------------------------------------+----------+-----------+-------------------+------------------------------------------------------------------------------+----------------------------+--------------+----+------------------------+---------------------------------------------------------------------------+
only showing top 5 rows

# Analytics (Spark SQL) — Depreciation, Brands, Cities, Demand

In [16]:
df_fair.createOrReplaceTempView("bikes")

avg_price_by_year = spark.sql("""
    SELECT Year, ROUND(AVG(Price_Clean),2) AS avg_price
    FROM bikes
    GROUP BY Year
    ORDER BY Year
""")

avg_price_by_brand = spark.sql("""
    WITH topbrands AS (
        SELECT Brand
        FROM bikes
        GROUP BY Brand
        ORDER BY COUNT(*) DESC
        LIMIT 10
    )
    SELECT b.Brand, ROUND(AVG(b.Price_Clean), 2) AS avg_price
    FROM bikes b
    JOIN topbrands t ON b.Brand = t.Brand
    GROUP BY b.Brand
    ORDER BY avg_price DESC
""")

bike_type_counts = spark.sql("""
    SELECT `Bike Type` AS BikeType, COUNT(*) AS n
    FROM bikes
    GROUP BY `Bike Type`
    ORDER BY n DESC
""")

city_counts = spark.sql("""
    SELECT City, ROUND(AVG(Price_Clean),2) AS avg_price, COUNT(*) AS n
    FROM bikes
    WHERE City IS NOT NULL
    GROUP BY City
    HAVING n >= 20
    ORDER BY avg_price DESC
    LIMIT 15
""")

avg_price_by_year.show(10)
avg_price_by_brand.show(truncate=False)
bike_type_counts.show(truncate=False)
city_counts.show(truncate=False)

+----+---------+
|Year|avg_price|
+----+---------+
|1923|  40000.0|
|1930| 150000.0|
|1966| 245000.0|
|1974| 290000.0|
|1975| 550000.0|
|1978| 162500.0|
|1979|551666.67|
|1980|246818.36|
|1981| 245000.0|
|1982| 513750.0|
+----+---------+
only showing top 10 rows

+--------+---------+
|Brand   |avg_price|
+--------+---------+
|KTM     |840833.33|
|Yamaha  |434962.61|
|Suzuki  |433794.12|
|Honda   |342632.45|
|TVS     |285508.14|
|Bajaj   |262651.61|
|Hero    |236859.24|
|Demak   |210042.37|
|Mahindra|202592.59|
|Ranomoto|146107.14|
+--------+---------+

+------------+----+
|BikeType    |n   |
+------------+----+
|Motorbikes  |3605|
|Scooters    |1404|
|Quadricycles|4   |
|E-bikes     |3   |
+------------+----+

+----------------+---------+---+
|City            |avg_price|n  |
+----------------+---------+---+
|Vavuniya City   |440750.0 |28 |
|Wennappuwa      |433548.39|31 |
|Negombo         |413161.56|96 |
|Trincomalee City|404510.18|49 |
|Kiribathgoda    |402500.0 |24 |
|Tambuttegama    |400150.0 |20 |
|Kegalle City    |396263.16|38 |
|Jaffna City     |394535.09|114|
|Galle City      |389408.16|98 |
|Elpitiya        |387689.66|29 |
|Wattala         |382089.74|39 |
|Delgoda         |380551.72|29 |
|Chilaw          |369055.56|36 |
|Pannala         |367050.0 |20 |
|Kalmunai        |365708.33|24 |
+----------------+---------+---+

# Forecast by Brand

In [26]:
from pyspark.sql.types import DoubleType
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
import pandas as pd

# Pick a specific brand (e.g., Honda)
brand = "Kawasaki"

brand_df = spark.sql(f"""
    SELECT Year, ROUND(AVG(Price_Clean),2) AS avg_price
    FROM bikes
    WHERE Brand = '{brand}'
    GROUP BY Year
    ORDER BY Year
""")

# Prepare training data
train_df = brand_df.withColumn("label", F.col("avg_price")) \
                   .withColumn("YearNum", F.col("Year").cast(DoubleType()))
assembler = VectorAssembler(inputCols=["YearNum"], outputCol="features")
train_vec = assembler.transform(train_df).select("features", "label")

# Train linear regression
lr = LinearRegression(featuresCol="features", labelCol="label")
lr_model = lr.fit(train_vec)

# Forecast next 3 years
last_year = train_df.agg(F.max("Year")).first()[0]
future_pdf = pd.DataFrame({"Year": [last_year + 1, last_year + 2, last_year + 3]})
future_sdf = spark.createDataFrame(future_pdf) \
                  .withColumn("YearNum", F.col("Year").cast(DoubleType()))
future_vec = assembler.transform(future_sdf).select("Year", "YearNum", "features")
pred = lr_model.transform(future_vec)

print(f"Forecasted Avg Prices for {brand}")
pred.select("Year", F.round("prediction", 2).alias("predicted_avg_price")).orderBy("Year").show()

Forecasted Avg Prices for Kawasaki
+----+-------------------+
|Year|predicted_avg_price|
+----+-------------------+
|2020|          854543.94|
|2021|          876882.89|
|2022|          899221.85|
+----+-------------------+

# Forecast by Bike Type

In [22]:
from pyspark.sql.types import DoubleType
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
import pandas as pd
import pyspark.sql.functions as F

# Pick a specific bike type (check available values with SELECT DISTINCT first)
bike_type = "Scooters"

# Query: average price by year for this type (ignore NULLs, strip spaces)
type_df = spark.sql(f"""
    SELECT Year, ROUND(AVG(Price_Clean),2) AS avg_price
    FROM bikes
    WHERE TRIM(`Bike Type`) = '{bike_type}'
      AND Price_Clean IS NOT NULL
    GROUP BY Year
    ORDER BY Year
""")

# Check if we got any rows
if type_df.count() == 0:
    print(f" No data available for bike type = {bike_type}")
else:
    # Prepare training data
    train_df = type_df.withColumn("label", F.col("avg_price")) \
                      .withColumn("YearNum", F.col("Year").cast(DoubleType()))
    assembler = VectorAssembler(inputCols=["YearNum"], outputCol="features")
    train_vec = assembler.transform(train_df).select("features", "label")

    # Train linear regression
    lr = LinearRegression(featuresCol="features", labelCol="label")
    lr_model = lr.fit(train_vec)

    # Forecast next 3 years
    last_year = train_df.agg(F.max("Year")).first()[0]
    future_pdf = pd.DataFrame({"Year": [last_year + 1, last_year + 2, last_year + 3]})
    future_sdf = spark.createDataFrame(future_pdf) \
                      .withColumn("YearNum", F.col("Year").cast(DoubleType()))
    future_vec = assembler.transform(future_sdf).select("Year", "YearNum", "features")
    pred = lr_model.transform(future_vec)

    print(f"Forecasted Avg Prices for Bike Type: {bike_type}")
    pred.select("Year", F.round("prediction", 2).alias("predicted_avg_price")).orderBy("Year").show()

Forecasted Avg Prices for Bike Type: Scooters
+----+-------------------+
|Year|predicted_avg_price|
+----+-------------------+
|2023|          362734.94|
|2024|          371663.19|
|2025|          380591.45|
+----+-------------------+

# Export data for visualization

In [24]:
import os
import matplotlib.pyplot as plt
import numpy as np

exports_dir = "exports"
os.makedirs(exports_dir, exist_ok=True)

apy = avg_price_by_year.toPandas().sort_values("Year")
apb = avg_price_by_brand.toPandas()
btc = bike_type_counts.toPandas()
cty = city_counts.toPandas()

apy.to_csv(f"{exports_dir}/avg_price_by_year.csv", index=False)
apb.to_csv(f"{exports_dir}/avg_price_by_brand.csv", index=False)
btc.to_csv(f"{exports_dir}/bike_type_counts.csv", index=False)
cty.to_csv(f"{exports_dir}/avg_price_by_city.csv", index=False)

if not apy.empty:
    newest = apy["Year"].max()
    base = float(apy.loc[apy["Year"]==newest, "avg_price"].iloc[0])
    apy["depreciation_pct_vs_newest"] = (1.0 - apy["avg_price"] / base) * 100.0 if base>0 else np.nan
    apy.to_csv(f"{exports_dir}/depreciation_percent.csv", index=False)

plt.figure(figsize=(8,5))
plt.plot(apy["Year"], apy["avg_price"], marker="o")
plt.title("Average Used Bike Price by Year (Sri Lanka)")
plt.xlabel("Year of Manufacture");
plt.ylabel("Average Price (LKR)");
plt.grid(True);
plt.tight_layout()
plt.savefig(f"{exports_dir}/avg_price_by_year.png", dpi=160);
plt.close()

plt.figure(figsize=(8,5))
plt.bar(apb["Brand"], apb["avg_price"])
plt.title("Average Used Bike Price by Top Brands")
plt.xlabel("Brand");
plt.ylabel("Average Price (LKR)");
plt.xticks(rotation=45, ha="right");
plt.tight_layout()
plt.savefig(f"{exports_dir}/avg_price_by_brand.png", dpi=160);
plt.close()

plt.figure(figsize=(8,5))
plt.bar(btc["BikeType"], btc["n"])
plt.title("Bike Types by Demand (Listing Counts)")
plt.xlabel("Bike Type");
plt.ylabel("Count");
plt.xticks(rotation=45, ha="right");
plt.tight_layout()
plt.savefig(f"{exports_dir}/bike_types_demand.png", dpi=160);
plt.close()

plt.figure(figsize=(8,5))
plt.bar(cty["City"], cty["avg_price"])
plt.title("Top Cities by Average Price")
plt.xlabel("City");
plt.ylabel("Average Price (LKR)");
plt.xticks(rotation=45, ha="right");
plt.tight_layout()
plt.savefig(f"{exports_dir}/avg_price_by_city.png", dpi=160);
plt.close()

print("Exports written to:", exports_dir)

Exports written to: exports